{% extends 'portfolio/layout.html' %}

{% block main %}
<section class="hero-home">
   <div class="conteudo">
      <h4>OLÁ! CHAMO-ME</h4>
      <h2>Tiago Águeda</h2>
      <p>Think about things differently</p>
      <div class="download-cv">
         <a href="#saber-mais" class="theme-btn btn-style-one"><span class="btn-title">Saber Mais</span></a>
     </div>
   </div>
   <div class="imagem">
      {% load static %}
      <img src="{% static 'portfolio/images/banner-img.png' %}">
   </div>
</section>
<section class="more-info-home" id="saber-mais">
   <div class="geral">
      <div class="imagem">
         {% load static %}
         <img src="https://tiagoagueda.pt/images/resource/IMG-20190331-WA0012-01.jpeg">
      </div>
      <div class="conteudo">
         <h4>Quem Sou</h4>
         <p>Frequento a Licenciatura de <span class="theme_color">Engenharia Informática</span> na Universidade Lusófona de Humanidade e Tecnologias e atualmente exerço funções de <span class="theme_color">desenvolvedor web</span> na agência DigitalXperience. <br> Nos meus tempos livres trabalho como freelance e tiro cursos relacionados com a área na Udemy. <br> A criação deste website, deve-se ao facto de poder acompanhar e realizar projetos inovadores, dinâmicos e interativos, demonstrando-lhe que tudo está ao seu alcance.</p>
         <!--<div class="download-cv">
            <a href="#saber-mais" class="theme-btn btn-style-one"><span class="btn-title">Saber Mais</span></a>
        </div>-->
      </div>
   </div>
   
</section>

<section class="title"> 
   <h2>Api meteriologia</h2> 
</section>
 <section class="tempo">
   <p id="tempMax"> Max: </p>
   <p id="tempMin"> Min: </p>
   <p id="windSpeed"> Vento: </p>
 </section>


<section class="title"> 
   <h2>Api filmes IMDB</h2> 
</section>
<div class="movies"></div>

<script>
 document.addEventListener('DOMContentLoaded', function() {
 fetch('https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1110600.json')
 .then(response => response.json()).then(data =>{
   document.querySelector('#tempMin').append(data.data[0].tMin);
   document.querySelector('#tempMax').append(data.data[0].tMax);
   document.querySelector('#windSpeed').append(data.data[0].classWindSpeed);
 });
});



const options = {
method: 'GET',
headers: {
'X-RapidAPI-Key': '626e3b807emsha76e36d46445d17p1be24fjsnc8f75e4530d6',
'X-RapidAPI-Host': 'online-movie-database.p.rapidapi.com'
}
};


fetch('https://online-movie-database.p.rapidapi.com/auto-complete?q=game', options)
.then(response => response.json())
.then(data => {
const list = data.d;

list.map((item) => {
const name = item.l;
const poster = item.i.imageUrl;
const movie = '<div class ="filme"><img src="' + item.i.imageUrl + '" width="250" height="350"> <h3>' + item.l + '</h3></div>';
document.querySelector('.movies').innerHTML += movie;
})
})
.catch(err => console.error(err));

</script>
    
{% endblock %}