<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'portfolio/css/estilos.css' %}">
        <script src="https://kit.fontawesome.com/eb268906ee.js" crossorigin="anonymous"></script>

        <style>
          .movies{
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	justify-content: center;
	color: white;
	text-align: center;
}

footer{
	display: flex;
	justify-content: center;
	background-color: #2f91e0;
	padding: 20px 0;
	margin-top: 50px;
}

.tempo{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	font-size: 20px;
}
        </style>
    </head>
    <body>
<input type="checkbox" id="burger-toggle">
<label for="burger-toggle" class="burger-menu">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</label>
<div class="menu">
  <div class="menu-inner">
    <ul class="menu-nav">
      <li class="menu-nav-item"><a class="menu-nav-link" href="{% url 'portfolio:home' %}"><span>
            <div>Home</div>
          </span></a></li>
      <li class="menu-nav-item"><a class="menu-nav-link" href="{% url 'portfolio:sobre-mim' %}"><span>
            <div>Sobre mim</div>
          </span></a></li>
      <li class="menu-nav-item"><a class="menu-nav-link" href="{% url 'portfolio:projetos' %}"><span>
            <div>Projetos</div>
          </span></a></li>
      <li class="menu-nav-item"><a class="menu-nav-link" href="{% url 'portfolio:web' %}"><span>
            <div>Web</div>
          </span></a></li>
      <li class="menu-nav-item"><a class="menu-nav-link" href="{% url 'portfolio:blog' %}"><span>
            <div>Blog</div>
          </span></a></li>
      <li class="menu-nav-item"><a class="menu-nav-link" href="{% url 'portfolio:contactos' %}"><span>
            <div>Contactos</div>
          </span></a></li>
    </ul>
    <div class="gallery">
      <div class="title">
        <p>Portfólio</p>
      </div>
      <div class="images">
        <a class="image-link" href="https://ampermago.pt/">
          <div class="image" data-label="Ampermago"><img src="https://tiagoagueda.pt/images/portfolio/project-1.jpg" alt="" target="_blank"></div>
        </a>
        <a class="image-link" href="https://tiagoagueda.pt/portfolio/sites/carpintaria-sao-jose/index.html#" target="_blank">
          <div class="image" data-label="São José"><img src="https://tiagoagueda.pt/images/portfolio/project-2.jpg" alt=""></div>
        </a>
        <a class="image-link" href="https://tiagoagueda.pt/portfolio/sites/woodchat/index.html">
          <div class="image" data-label="WoodChat"><img src="	https://tiagoagueda.pt/images/portfolio/project-3.jpg" alt="" target="_blank"></div>
        </a>
      </div>
      <a class="saber-mais-botao" href="https://portfolio-tiago-agueda.herokuapp.com/projetos">Saber Mais</a>
    </div>
  </div>
</div>
          
          <main> 
            {% block main %}
            {% endblock main %}
        </main>

        

          
          <footer>ULHT | Tiago Águeda | <span class="horario"></span></footer>

          <script> 
          //Executa o codigo de segundo a segundo
            let interval = setInterval(()=>{
           
              var dataAtual = new Date();
              var dia = dataAtual.getDate();
              var mes = (dataAtual.getMonth() + 1);
              var ano = dataAtual.getFullYear();
              var horas = dataAtual.getHours();
              var minutos = dataAtual.getMinutes();
              var segundos = dataAtual.getSeconds();
           console.log("Hoje é dia " + dia + "/" + mes + " de " + ano + ". Agora são " + horas + ":" + minutos + "h.");
           document.querySelector('.horario').innerHTML = " " + dia + "/" + mes + "/" + ano + " | " + horas + ":" + minutos + ":" + segundos;
           
            }, 1000);</script>

          <script src="{% static 'portfolio/script_filtro.js' %}"></script>
    </body>
</html>