{% extends 'portfolio/layout.html' %}

{% block main %}
<section class="head">
    <div class="content">
        <h2 class="title">Projetos</h2>
        <span class="subtitle">Projetos realizados por mim e realizados pelos alunos do terceiro ano</span>
    </div>
</section>

<section class="post container">
    {% for projeto in projetos %}
<div class="post-box">
  <img class="post-img" src="{{ projeto.imagem.url }}" alt="">
<!-- <h2 class="category">{{ projeto.autor }}</h2> -->
<a href="{{ post.link}}" class="post-title">{{ projeto.titulo }}</a>
<span class="post-date">{{ projeto.ano }}</span>
<p class="post-description">{{ projeto.descricao }}</p>
</div>

{% endfor %}
</section>

<section class="title"> 
    <h2>Trabalhos de final de curso</h2> 
</section>

<section class="post container">
    {% for projeto in tfcs %}
<div class="post-box">
  <img class="post-img" src="{{ projeto.imagem.url }}" alt="">
<h2 class="category"><b>Autores: </b>{% for autor in projeto.autor.all %}{{autor.nome}} {{autor.apelido}}; {% endfor %}</h2>
<h2 class="category"><b>Orientador: </b>{% for orientador in projeto.orientadores.all %}{{orientador.nome}} {{orientador.apelido}}; {% endfor %}</h2>
<a href="{{ projeto.link}}" class="post-title">{{ projeto.titulo }}</a>
<span class="post-date">{{ projeto.ano }}</span>
<p class="post-description">{{ projeto.resumo }}</p>
<a href="projeto.relatorio">Relatório</a>
<a href="projeto.linkGithub:">Github</a>
</div>

{% endfor %}
</section>
    
{% endblock %}